<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
</head>
<body>
    <h2>Cadastrar Aluno</h2>
    <div>
        <ul>
            <h3>ViewData</h3>
            @if (ViewData["AlunosViewData"] != null)
            {
                foreach (var aluno in ViewData["AlunosViewData"] as List<string>)
                {
                    <li>@aluno</li>
                }
            }
            else
            {
                <h2>ViewData é null</h2>
            }
        </ul>
        <hr />
        <ul>
            <h3>ViewBag</h3>
            @if (ViewBag.AlunosViewBag != null)
            {
                foreach (var aluno in ViewBag.AlunosViewBag)
                {
                    <li>@aluno</li>
                }
            }
            else
            {
                <h2>ViewBag é null</h2>
            }
        </ul>
        <hr />
        <ul>
            <h3>TempData</h3>
            @if (TempData["AlunosTempData"] != null)
            {
                foreach (var aluno in TempData["AlunosTempData"] as List<string>)
                {
                    <li>@aluno</li>
                }
            }
            else
            {
                <h2>TempData é null</h2>
            }
        </ul>
        <hr />
        <ul>
            <h3>Session</h3>
            @if (Session["AlunosSession"] != null)
            {
                foreach (var aluno in Session["AlunosSession"] as List<string>)
                {
                    <li>@aluno</li>
                }
            }
            else
            {
                <h2>Session é null</h2>
            }
        </ul>
    </div>
    @Html.ActionLink("Retornar", "Index")
    @Html.ActionLink("Listar Aluno", "Listar")
</body>
</html>
