<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Usando ViewData, ViewBag, TempData e Session</h2>
    <div>
        <h3>ViewData</h3>
        @foreach (var aluno in ViewData["AlunosViewData"] as List<string>)
        {
            <li>@aluno</li>
        }
        <hr />
        <h3>ViewBag</h3>
        @foreach (var aluno in ViewBag.AlunosViewBag)
        {
            <li>@aluno</li>
        }
        <hr />
        <h3>TempData</h3>
        @foreach (var aluno in TempData["AlunosTempData"] as List<string>)
        {
            <li>@aluno</li>
        }
        <hr />
        <h3>Session</h3>
        @foreach (var aluno in Session["AlunosSession"] as List<string>)
        {
            <li>@aluno</li>
        }
    </div>

    @Html.ActionLink("Retornar", "Index")
    @Html.ActionLink("Cadastrar Aluno", "Cadastrar")
</body>
</html>
