@model Business.Aluno

<table style="font-family:Arial; border:1px solid black; width:300px">
    <tr>
        <td>
            <img src="@Url.Content(Model.Foto)" alt="@Model.Texto" width="100" height="100" />
        </td>
        <td>
            <table>
                <tr>
                    <td><b>Nome</b></td>
                    <td>@Model.Nome</td>
                </tr>
                <tr>
                    <td><b>Idade</b></td>
                    <td>@Model.Idade</td>
                </tr>
                <tr>
                    <td><b>Inscrição</b></td>
                    <td>@Model.DataInscricao.ToString("dd/MM/yyyy")</td>
                </tr>
            </table>
        </td>
    </tr>
</table>