@model IEnumerable<Business.Aluno>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Criar Aluno", "Create") | @Html.ActionLink("Lista de Alunos com Foto", "ListaAlunos")
    </p>
    <p>
        @using (@Html.BeginForm("Procurar", "Home", FormMethod.Get))
        {
            <b>Procurar Por:</b>
            @Html.RadioButton("procurarPor", "Nome", true)<text>Nome</text>
            @Html.RadioButton("procurarPor", "Email")<text>Email</text><br />
            @Html.TextBox("criterio")<input type="submit" value="Procurar" />
        }
    </p>
    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                Comandos
            </th>
        </tr>

        @foreach (var item in Model)
        {
            using (@Html.BeginForm("Delete", "Home", new { id = item.Id }))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInscricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                        @*@Html.ActionLink("Deletar", "Delete", new { id=item.Id })*@
                        <input type="submit" value="Deletar" onclick="return confirm('Confirma a exclusão do aluno @item.Nome');" />
                    </td>
                </tr>
            }
        }
    </table>
</body>
</html>
