@model ProjetoMvcValidacao3.Models.Cliente

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <h2>Cadastro de Cliente</h2>
    @Html.ValidationSummary(true, "Ocorreu um erro no formulário")

    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Cadasto de Cliente</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Nome)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Telefone)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Telefone)
                @Html.ValidationMessageFor(model => model.Telefone)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Idade)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Idade)
                @Html.ValidationMessageFor(model => model.Idade)
            </div>

            <p>
                <input type="submit" value="Enviar Dados" />
            </p>
        </fieldset>
    }
</body>
</html>
